header{
  border-bottom: 3px solid #D7D7D7;
  text-align: center;
}

.header__title{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #282B2E;
  padding: 24px 0;
}

.container-contacts{
  background-color: $white;
}
